body {
  margin-top: 30px;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

img {
  width: 100%;
}

.font-12 {
  font-size: 12px;
}

.p-color {
  color: #f72210;
}

.div-img {
  padding: 5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0;
  bottom: 0;
  text-transform: uppercase;
}

.img_container {
  position: relative;
  padding-bottom: 10px;
}

.img_container a:hover {
  color: #f72210;
  text-decoration: none;
}

.card-body {
  padding: 0;
}

.c-black {
  color: #000;
}

.link-black:hover {
  color: #000;
  text-decoration: #f72210 underline;
}

.feature {
  border-bottom: 2px solid grey;
}

.card {
  border: none;
}

.card-hr {
  border: 3px solid;
  margin-top: -4px;
  margin-bottom: 5px;
}

.right-stories {
  border-bottom: 1px solid gray;
}

.right-stories h6,
.right-stories p {
  font-size: 1.1rem;
}

.vs span {
  padding: 5px;
}

.vs span::before {
  content: "";
  background-color: #f72210;
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 45%;
}

.vs span::after {
  content: "";
  background-color: #f72210;
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  z-index: 1;
}

.rounded-circle {
  z-index: 1;
}

/* .vs-top {
  border-bottom: 1px solid chocolate;
  margin-bottom: 1px;
  padding-bottom: 20px;
}

.vs-bottom {
  border-top: 1px solid blue;
  padding-top: 20px;
} */

.vs-top {
  padding-bottom: 20px;
}

.vs-bottom {
  padding-top: 20px;
  border-bottom: 2px solid gray;
  margin-bottom: 40px;
}

.margin-10 {
  margin-top: 20px;
}

.line-height {
  line-height: 2.2rem;
}

.sub-title {
  font-size: 0.8rem;
  color: gray;
  font-weight: 700;
}
