body {
  margin-top: 30px;
  padding: 15px;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

img {
  width: 100%;
}

.font-12 {
  font-size: 12px;
}

.p-color {
  color: #f72210;
}

.div-img {
  padding: 0 5px 10px 5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0;
  bottom: 0;
  text-transform: uppercase;
}

.img_container {
  position: relative;
  padding-bottom: 10px;
}

.img_container a:hover {
  color: #f72210;
  text-decoration: none;
}

.card-body {
  padding: 0;
}

.c-black {
  color: #000;
}

.link-black:hover {
  color: #000;
  text-decoration: #f72210 underline;
}

.feature {
  border-bottom: 2px solid grey;
}

.card {
  border: none;
}

.card-right {
}

.col-gap-10 {
  column-gap: 10px;
}

.d-flex {
  display: flex;
}

.b-top-4 {
  border-top: 4px solid #d9d9d9;
}

.b-bottom-4 {
  border-bottom: 4px solid #d9d9d9;
}

.card-right-item1 {
  padding-top: 10px;
  padding-bottom: 4px;
}

.card-right-pic img {
  width: 63px;
}

.card-right-text a {
  font: bold 17px/21px "Roboto Condensed", sans-serif;
  color: black;
  margin-bottom: 30px;
}

.card-right-text2 {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 4px;
  color: black;
}

.card-right-text2 span {
  font-weight: normal;
  color: #555;
}

.card-right-sub-text {
  font-size: 14px;
  font-weight: 770;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 4px;
  color: #555;
}

.space-between {
  justify-content: space-between;
}

.right-stories {
  border-bottom: 1px solid gray;
}

.first-title {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 2px;
  color: rgba(3, 3, 3, 0.4);
}

.right-stories h6,
.right-stories p {
  font-size: 1.1rem;
}

.vs span {
  padding: 5px;
}

.vs span::before {
  content: "";
  background-color: #f72210;
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 45%;
}

.vs span::after {
  content: "";
  background-color: #f72210;
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  z-index: 1;
}

.rounded-circle {
  z-index: 1;
}

.vs-top {
  padding-bottom: 20px;
}

.vs-bottom {
  padding-top: 20px;
  border-bottom: 2px solid gray;
  margin-bottom: 40px;
}

.margin-10 {
  margin-top: 20px;
}

.line-height {
  line-height: 2.2rem;
}

.sub-title {
  font-size: 0.8rem;
  color: gray;
  font-weight: 700;
}

.padding-l-b-r-20 {
  padding: 0 20px 20px 20px;
}

.s-color {
  color: #036cbd;
}

.margin-top-5 {
  margin-top: 5px;
}

.p-bg-c {
  background-color: #f72210;
}

.c-white {
  color: #fff;
  font-weight: 700;
}

.btn:hover {
  color: #fff;
}
